

<!-- footer -->
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; Prime Minister's Special Scholarship Scheme (PMSSS)</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy&nbsp;&nbsp;|</a>
            <a href="/terms">&nbsp;&nbsp;Terms&nbsp;&nbsp;|</a>
            <a href="/terms">&nbsp;&nbsp;Help Desk&nbsp;&nbsp;|</a>
            <a href="/terms">&nbsp;&nbsp;Contact Us</a>
        </div>
    </div>
</footer>
